.gradientBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  background-color: #000000;
  min-height: 100vh;
}

.gradientBackground::before,
.gradientBackground::after {
  content: '';
  position: absolute;
  inset: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at center, #e600ff32 0%, #232323 25%, transparent 50%);
  animation: moveGradient1 170s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  filter: blur(60px);
  opacity: 0.7;
  mix-blend-mode: screen;
}

.gradientBackground::after {
  background: radial-gradient(circle at center, #00ff1a2d 0%, #000000 35%, transparent 60%);
  animation: moveGradient2 90s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  opacity: 0.8;
}

@keyframes moveGradient1 {
  0% {
    transform: translate(-25%, -25%) scale(1) rotate(0deg);
  }

  25% {
    transform: translate(-25%, -65%) scale(2.2) rotate(90deg);
  }

  50% {
    transform: translate(15%, 25%) scale(0.9) rotate(180deg);
  }

  75% {
    transform: translate(-15%, 35%) scale(0.1) rotate(270deg);
  }

  100% {
    transform: translate(-25%, -25%) scale(1) rotate(360deg);
  }
}

@keyframes moveGradient2 {
  0% {
    transform: translate(25%, 25%) scale(2.1) rotate(0deg);
  }

  25% {
    transform: translate(15%, -15%) scale(0.9) rotate(-90deg);
  }

  50% {
    transform: translate(-25%, 15%) scale(2.2) rotate(-180deg);
  }

  75% {
    transform: translate(45%, -45%) scale(0.8) rotate(-270deg);
  }

  100% {
    transform: translate(25%, 25%) scale(2.1) rotate(-360deg);
  }
}

/* Add a subtle pulse effect to the entire background */
.gradientBackground {
  animation: pulse 60s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(1.1);
  }
}
