@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  :root {
    --background: 0 9% 16%;
    --foreground: 351 100% 97%;
    --muted: 0 12% 20%;
    --muted-foreground: 0 12% 70%;
    --popover: 0 9% 13%;
    --popover-foreground: 0 0% 100%;
    --card: 0 9% 14%;
    --card-foreground: 0 0% 100%;
    --border: 0 0% 21%;
    --input: 0 0% 24%;
    --primary: 41 92% 70%;
    --primary-foreground: 41 92% 10%;
    --secondary: 41 30% 25%;
    --secondary-foreground: 41 30% 85%;
    --accent: 0 9% 31%;
    --accent-foreground: 0 9% 91%;
    --destructive: 3 93% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 41 92% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 9% 16%;
    --foreground: 351 100% 97%;
    --muted: 0 12% 20%;
    --muted-foreground: 0 12% 70%;
    --popover: 0 9% 13%;
    --popover-foreground: 0 0% 100%;
    --card: 0 9% 14%;
    --card-foreground: 0 0% 100%;
    --border: 0 0% 21%;
    --input: 0 0% 24%;
    --primary: 41 92% 70%;
    --primary-foreground: 41 92% 10%;
    --secondary: 41 30% 25%;
    --secondary-foreground: 41 30% 85%;
    --accent: 0 9% 31%;
    --accent-foreground: 0 9% 91%;
    --destructive: 3 93% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 41 92% 70%;
  }
}

@layer base {
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply text-3xl font-semibold mb-3 text-gray-800;
  }
  h3 {
    @apply text-2xl font-medium mb-2 text-gray-700;
  }
  p {
    @apply text-base mb-4 text-gray-600;
  }
  ul,
  ol {
    @apply mb-4 pl-5;
  }
  li {
    @apply mb-2;
  }
  a {
    @apply text-blue-600 hover:text-blue-800 underline;
  }
}
